/*=============== Spectral font family ===============*/
@font-face {
  font-family: Spectral;
  src: url('~/fonts/Spectral-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Spectral;
  src: url('~/fonts/Spectral-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Spectral;
  src: url('~/fonts/Spectral-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Spectral;
  src: url('~/fonts/Spectral-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Spectral;
  src: url('~/fonts/Spectral-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

/*=============== Nunito font family ===============*/
@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-RegularItalic.ttf') fotmat('truetype');
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-ExtraLight.ttf') fotmat('truetype');
  font-weight: 200;
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-ExtraLightItalic.ttf') fotmat('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-Light.ttf') fotmat('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-LightItalic.ttf') fotmat('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-SemiBold.ttf') fotmat('truetype');
  font-weight: 600;
}
@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-SemiBoldItalic.ttf') fotmat('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-Bold.ttf') fotmat('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-BoldItalic.ttf') fotmat('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-ExtraBold.ttf') fotmat('truetype');
  font-weight: 800;
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-ExtraBoldItalic.ttf') fotmat('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-Black.ttf') fotmat('truetype');
  font-weight: 900;
}

@font-face {
  font-family: Nunito;
  src: url('~/fonts/Nunito-BlackItalic.ttf') fotmat('truetype');
  font-weight: 900;
  font-style: italic;
}
