// define base colors
$rhino: #293462; // 1e2648
$elm: #216583;
$carnation: #f76262;
$egg-white: #fff1c1;
// define theme colors
$color_primary: $rhino;
$color_secondary: $elm;
$color_tertiary: $carnation;
$color_quaternary: $egg-white;
// define base font families
$serif: Spectral; // 'Crimson Text', Vollkorn
$sans-serif: Nunito; // Karla, Open Sans, Lato
// define theme font families
$font_title: $serif, serif;
$font_body: $sans-serif, sans-serif;
