#app {
  font-family: $font_body;
  line-height: unset;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_title;
}

/*========== Styling v-lists ==========*/
.v-list.v-sheet {
  margin: 1rem 5rem;
}

/*========== Styling the card inside a dialog ==========*/
.dialog-card .v-card__title {
  margin-bottom: 0.5rem;
  background-color: $color_secondary;
  color: $color_text-light;
  font-family: $font_title;
  justify-content: space-between;
}

.dialog-card .v-btn__content {
  color: $color_secondary;
}

/*========== Styling snackbar notification for newly created docs ==========*/
.new-doc {
  font-weight: bold;
}